/* Default styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Add a background color */
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the app takes full height of the screen */
}
